/demo/node_modules
/demo/platforms
/plugin/*.map
/plugin/enumerable/*.map
/pushall.sh
/plugin/stringformat/*.map
/plugin/apiclient/*.map
/plugin/batch/*.map
/plugin/bitmap-factory/*.map
/plugin/routed-values/*.map
/demo/app/*.map
/plugin/xmlobjects/*.map
/demo/.vscode
/plugin/lazy/*.map
